@import 'tailwindcss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  color: #000;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
}